.page {
  height: 100%;
  font-size: 14px;
  font-family: "Montserrat", "Arial", sans-serif;
  line-height: 20px;
}

.page__body {
  min-height: 100%;
  margin: 0;
  background-color: $base-white-color;
  color: $base-black-color;
}
