$base-white-color: #ffffff;
$base-grey-color: #bdbdbd;
$base-black-color: #333333;
$base-primary-color: #7859cf;
$base-secondary-color: #f0ebff;

$primary-opacity-color: rgba(120, 89, 207, 0.25);
$primary-lighter-color: #9070ec;
$primary-darker-color: #593cac;
$light-grey-color: #e2e2e2;

$lightest-grey-background: #f8f8f8;
$flat-white-background: #f3ebe1;
$lavender-latte-background: #eae6fc;
$espresso-background: #e5e6e8;

$font-stack: 'Montserrat', sans-serif;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;
